.about {
  position: relative;
  padding-top: 27px;
  background-color: var(--color-alabaster);

  &__outer {
    margin: 0 auto;
    max-width: 1920px;
    background-image: url("../img/Ellipse.png");
    background-position: bottom right;
    background-repeat: no-repeat;

    @include sl {
      background-image: url("../img/Ellipse_1024.png");
    }

    @include mob {
      background-image: url("../img/Ellipse_320.png");
      background-position: center bottom;
    }
  }

  &__container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @include mob {
      position: relative;
      flex-direction: column-reverse;
    }
  }

  &__photo {
    margin-right: -80px;

    @include ll {
      margin-right: 0;
    }

    @include mob {
      width: 224px;
      height: 334px;
    }
  }

  @include mob {
    display: flex;
    margin-bottom: 182px;
    padding-top: 55px;
  }
}

.text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  justify-content: flex-start;
  margin-top: 150px;

  &__title {
    margin: 0;
    font-weight: 900;
    font-size: 80px;
    line-height: 104.64px;

    @include sl {
      margin-bottom: 10px;
      font-size: 54px;
      line-height: normal;
    }

    @include mob {
      font-size: 30px;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 25px;
    line-height: 54px;
    color: var(--color-bali-hai);

    @include mob {
      margin-bottom: 24px;
      max-width: 212px;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
    }
  }

  @include sl {
    margin-top: 0;
    padding-top: 180px;
  }

  @include mob {
    position: absolute;
    left: 50%;
    top: 345px;
    align-items: center;
    margin: 0;
    padding-top: 0;
    transform: translateX(-50%);
  }
}

.main-photo img {
  max-width: none;
}
