// Keyframes for flying tags in cost section
// stylelint-disable no-unknown-animations

@include keyframes(cost-brases--one) {
  0% {
    left: 0;
    top: 0;
    transform: rotate(0);
  }

  100% {
    left: -832px;
    top: 68px;
    transform: rotate(25deg);
  }
}

@include keyframes(cost-brases--two) {
  0% {
    left: 0;
    top: 0;
    transform: rotate(0);
  }

  100% {
    left: 808px;
    top: 265px;
    transform: rotate(-15deg);
  }
}

@include keyframes(cost-div--two) {
  0% {
    left: 0;
    top: 0;
    transform: rotate(0);
  }

  100% {
    left: 464px;
    top: 304px;
    transform: rotate(22deg);
  }
}

@include keyframes(cost-lattice) {
  0% {
    left: 0;
    top: 0;
    transform: rotate(0);
  }

  100% {
    left: -714px;
    top: 260px;
    transform: rotate(15deg);
  }
}

@include keyframes(cost-end-tag) {
  0% {
    left: 0;
    top: 0;
    transform: rotate(0);
  }

  100% {
    left: 698px;
    top: 78px;
    transform: rotate(-20deg);
  }
}

.cost {
  position: relative;
  padding-top: 72px;
  padding-bottom: 80px;
  background-image:
    linear-gradient(
      13deg,
      #ff8f5a 0%,
      #ff2f96 99%,
      #ff2f96 100%
    );
  background-color: var(--color-gallery);

  &__container {
    padding-right: 100px;
    padding-left: 130px;

    @include sl {
      padding: 0 40px;
    }

    @include mob {
      padding: 0 20px;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 45px;
    line-height: 60px;
    text-align: left;
    color: var(--color-white);

    @include mob {
      margin-bottom: 32px;
      font-size: 28px;
      line-height: 40px;
    }
  }

  &__descr {
    display: flex;
    margin: 0;
    padding-right: 210px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    color: var(--color-white);

    &::before {
      content: "*";
      margin-right: 4px;
      height: 100%;
      font-size: 20px;
    }

    @include sl {
      padding-right: 0;
      max-width: 80%;
    }

    @include mob {
      max-width: 100%;
      font-size: 15px;
    }
  }

  .tags {
    @include mob {
      display: none;
    }
  }

  .tag {
    color: var(--color-white);
  }

  .brases {
    &--one {
      display: block;
      animation: cost-brases--one 2s ease-in-out forwards;

      @include sl {
        font-size: 29px;

        @include keyframes(cost-brases--one) {
          0% {
            left: 0;
            top: 0;
            transform: rotate(0);
          }

          100% {
            left: -358px;
            top: 22px;
            transform: rotate(25deg);
          }
        }
      }
    }

    &--two {
      display: block;
      animation: cost-brases--two 2s ease-in-out forwards;

      @include sl {
        display: none;
      }
    }
  }

  .div {
    &--one {
      display: none;
    }

    &--two {
      animation: cost-div--two 2s ease-in-out forwards;

      @include sl {
        font-size: 23px;

        @include keyframes(cost-div--two) {
          0% {
            left: -0;
            top: 0;
            transform: rotate(0);
          }

          100% {
            left: 0;
            top: 304px;
            transform: rotate(22deg);
          }
        }
      }
    }
  }

  .lattice {
    animation: cost-lattice 2s ease-in-out forwards;

    @include sl {
      display: none;
    }
  }

  .end-tag--one {
    animation: cost-end-tag 2s ease-in-out forwards;

    @include sl {
      @include keyframes(cost-end-tag) {
        0% {
          left: 0;
          top: 0;
          transform: rotate(0);
        }

        100% {
          left: 364px;
          top: 290px;
          transform: rotate(-22deg);
        }
      }
    }
  }

  @include mob {
    padding-top: 40px;
    padding-bottom: 43px;
  }
}
