.cost {
  padding-top: 72px;
  padding-bottom: 80px;
  background-image:
    linear-gradient(
      13deg,
      #ff8f5a 0%,
      #ff2f96 99%,
      #ff2f96 100%
    );
  background-color: var(--color-gallery);

  &__container {
    padding-right: 100px;
    padding-left: 130px;

    @include sl {
      padding: 0 40px;
    }

    @include mob {
      padding: 0 20px;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 45px;
    line-height: 60px;
    text-align: left;
    color: var(--color-white);

    @include mob {
      margin-bottom: 32px;
      font-size: 28px;
      line-height: 40px;
    }
  }

  &__descr {
    display: flex;
    margin: 0;
    padding-right: 210px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    color: var(--color-white);

    &::before {
      content: "*";
      margin-right: 4px;
      height: 100%;
      font-size: 20px;
    }

    @include sl {
      max-width: 80%;
    }

    @include mob {
      max-width: 100%;
      font-size: 15px;
    }
  }

  @include mob {
    padding-top: 40px;
    padding-bottom: 43px;
  }
}
