.header {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--color-alabaster);

  &__nav {
    margin-right: auto;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mob {
      max-width: 320px;
    }
  }

  @include mob {
    padding-top: 13px;
    padding-bottom: 13px;
  }
}

.burger {
  display: none;
  width: 45px;
  height: 32px;
  background-image: url("../img/burger.png");
  transition: opacity 0.2s ease;

  &:focus {
    outline-color: var(--color-red-orange);
  }

  &:focus,
  &:hover,
  &:active {
    opacity: 0.8;
    transition: opacity 0.2s ease;
  }

  @include sl {
    display: block;
    margin-right: auto;
  }

  @include mob {
    margin-right: 0;
    width: 24px;
    height: 18px;
    background-image: url("../img/burger_mobile.png");
  }
}

.call-tel {
  margin-right: 30px;
  max-width: 250px;
  font-weight: 700;
  font-size: 25px;
  line-height: 54px;
  transition: opacity, transform 0.2s ease;

  &:focus {
    outline-color: var(--color-red-orange);
  }

  &:focus,
  &:hover,
  &:active {
    opacity: 0.8;
    transform: scaleX(1.05);
    transition: opacity, transform 0.2s ease;

    @include mob {
      font-size: 18px;
      transition: none;
    }
  }

  @include mob {
    margin-right: 0;
    font-size: 18px;
  }
}

.call-btn {
  border: 1px solid var(--color-radical-red);
  width: 207px;
  min-height: 45px;
  font-size: 16px;
  color: var(--color-sunset-orange);
  transition: opacity, transform 0.2s;

  &:focus {
    outline-color: var(--color-red-orange);
  }

  &:focus,
  &:hover,
  &:active {
    border-width: 2px;
    opacity: 0.8;
    transform: scaleX(1.05);
    transition: opacity, transform 0.2s;
  }

  &:disabled {
    border: 2px solid rgb(0, 0, 0);
    color: var(--color-white);
    background-color: rgb(160, 157, 157);
    opacity: 0.2;
    pointer-events: none;
  }

  @include mob {
    display: none;
  }
}

.call-icon {
  display: none;
  border-radius: 50%;
  transition: background-color 0.2s ease;

  &:focus {
    outline-color: var(--color-red-orange);
  }

  &:hover,
  &:active {
    background-color: var(--color-ghost);
    transition: all 0.2s ease;
  }

  @include mob {
    display: block;
    width: 26px;
    height: 26px;
    background: url("../img/call-icon.png") no-repeat center;
  }
}

// styles for menu-open

@include sl {
  .menu-open .burger {
    position: fixed;
    left: 13%;
    top: 10%;
    z-index: 110;
    width: 32px;
    background-image: url("../img/close.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: inherit;
    transform: translateX(-100%);

    &:focus {
      outline-color: var(--color-red-orange);
    }

    &:hover,
    &:active {
      background-color: var(--color-bali-hai);
      transition: all 0.2s ease;
    }
  }

  .menu-open .header__nav {
    display: block;
  }

  .menu-open .nav__list {
    position: fixed;
    left: 50%;
    top: 25px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 15%;
    width: 100vw;
    background-color: var(--color-ghost);
    opacity: 0.9;
    transform: translateX(-50%);
  }

  .menu-open .nav__item {
    font-size: 25px;
  }

  .menu-open .call-tel {
    margin-right: auto;
  }
}

@include mob {
  .menu-open .burger {
    top: 12%;
    width: 20px;
    height: 20px;
  }

  .menu-open .nav__item {
    font-size: 20px;
  }
}
