.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1000;
  border: 5px solid var(--color-wild-watermelon);
  padding: 10px 40px;
  width: 50%;
  background-color: var(--color-white);
  transform: translate(-50%, -50%);

  &__title {
    margin: 0;
    margin-bottom: 40px;
    border-bottom: 2px solid var(--color-shark);
    padding-bottom: 10px;
    width: 100%;
    font-size: 35px;
    text-align: center;

    @include sl {
      font-size: 28px;
    }

    @include mob {
      margin-bottom: 20px;
      font-size: 20px;
    }
  }

  &__form {
    padding: 60px 0;

    @include sl {
      padding: 40px 0;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: 900;
    font-size: 20px;

    &:not(:last-child) {
      margin-bottom: 40px;

      @include mob {
        margin-bottom: 20px;
      }
    }

    @include mob {
      display: flex;
      flex-wrap: wrap;
      font-size: 18px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 60px;

    @include sl {
      padding: 0 25px;
    }

    @include mob {
      padding: 0 10px;
    }
  }

  &__buttons {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  &__close {
    position: absolute;
    right: 1.5%;
    top: 5%;
    width: 48px;
    height: 48px;
    background: url("../img/close.png") no-repeat center;
    background-size: cover;

    @include mob {
      top: 1.5%;
      width: 30px;
      height: 30px;
      background-image: url("../img/close_320.png");
    }
  }

  &__submit,
  &__cancel {
    border-radius: 5px;
    width: 160px;
    height: 60px;

    @include sl {
      width: 140px;
      height: 40px;
      font-size: 14px;
    }

    @include mob {
      width: 100px;
    }
  }

  @include mob {
    width: 320px;
  }
}

.modal-form {
  &__input {
    border: none;
    border-bottom: 2px solid var(--color-black);
    padding: 5px 10px;
    width: 80%;
    font-weight: 400;
    font-size: 16px;

    &:focus {
      outline-color: var(--color-red-orange);
    }

    @include sl {
      width: 62%;
      font-size: 16px;
    }

    @include mob {
      margin-top: 5px;
      width: 100%;
    }
  }
}

.modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: var(--color-black);
  opacity: 0.5;
}
