.nav {
  max-width: 680px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    line-height: 54px;
    color: var(--color-shark);
    transition: all 0.2s;

    &:focus {
      outline-color: var(--color-red-orange);
    }

    &:focus,
    &:hover,
    &:active {
      color: var(--color-wild-watermelon) !important; // stylelint-disable declaration-no-important
      transition: all 0.2s;
    }

    &:active {
      border-bottom: 1px solid var(--color-wild-watermelon);
      color: var(--color-wild-watermelon) !important;
      transition: all 0.2s;
    }
  }

  @include sl {
    display: none;
  }
}
