.skills {
  padding-top: 90px;
  padding-bottom: 104px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  &__title {
    margin-bottom: 90px;
  }
}

.services {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 90px;
  width: 100%;

  &__item {
    margin-right: 4.92%;
    margin-bottom: 75px;
    text-align: center;

    &:nth-last-child(-n + 4) {
      margin-bottom: 0;

      @include sl {
        margin-bottom: 75px;
      }
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }

    &:nth-child(4n) {
      margin-right: 0;

      @include sl {
        margin-right: 4.92%;
      }
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    &--layout {
      width: 258px;

      &::before {
        content: url("../img/layout.png");
      }
    }

    &--adaptive {
      width: 272px;

      &::before {
        content: url("../img/adaptive.png");
      }
    }

    &--code {
      width: 202px;

      &::before {
        content: url("../img/code.png");
      }
    }

    &--correct {
      width: 265px;

      &::before {
        content: url("../img/test.png");
      }
    }

    @include sl {
      width: 42%;
    }
  }

  &__text {
    margin: 0;
    margin-top: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: var(--color-bali-hai);
  }

  @include sl {
    margin-bottom: 94px;
    max-width: 650px;
  }
}
