.skills {
  padding-top: 90px;
  padding-bottom: 104px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  &__title {
    margin-bottom: 90px;

    @include mob {
      margin-bottom: 30px;
    }
  }

  @include mob {
    padding-top: 32px;
    padding-bottom: 50px;
  }
}

.services {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 92px;
  width: 100%;

  &__item {
    margin-right: 5.4%;
    margin-bottom: 75px;
    text-align: center;

    &:nth-last-child(-n + 4) {
      margin-bottom: 0;

      @include sl {
        margin-bottom: 76px;
      }

      @include mob {
        margin-bottom: 47px;
      }
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;

      @include mob {
        margin-bottom: 47px;
      }
    }

    &:nth-last-child(-n + 1) {
      margin-bottom: 0;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-child(2n) {
      @include mob {
        margin-right: 0;
      }
    }

    &--layout {
      width: 258px;

      &::before {
        content: "";
        display: block;
        margin: 0 auto;
        width: 80px;
        height: 74px;
        background: url("../img/layout.png") no-repeat;
        background-size: cover;

        @include mob {
          width: 61px;
          height: 56px;
          background-image: url("../img/layout_mob.png");
        }
      }
    }

    &--adaptive {
      width: 272px;

      &::before {
        content: "";
        display: block;
        margin: 0 auto;
        width: 78px;
        height: 74px;
        background: url("../img/adaptive.png") no-repeat center;
        background-size: cover;

        @include mob {
          width: 66px;
          height: 61px;
          background-image: url("../img/adaptive_mob.png");
        }
      }
    }

    &--code {
      width: 202px;

      &::before {
        content: "";
        display: block;
        margin: 0 auto;
        width: 76px;
        height: 74px;
        background: url("../img/code.png") no-repeat center;
        background-size: cover;

        @include mob {
          width: 61px;
          height: 61px;
          background-image: url("../img/code_mob.png");
        }
      }

      @include sl {
        width: 258px;
      }
    }

    &--correct {
      width: 248px;

      &::before {
        content: "";
        display: block;
        margin: 0 auto;
        width: 75px;
        height: 74px;
        background: url("../img/test.png") no-repeat center;
        background-size: cover;

        @include mob {
          width: 61px;
          height: 61px;
          background-image: url("../img/test_mob.png");
        }
      }

      @include sl {
        width: 272px;
      }
    }

    @include sl {
      margin-right: 0;
    }

    @include mob {
      width: 100%;
    }
  }

  &__text {
    margin: 0;
    margin-top: 18px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: var(--color-bali-hai);

    @include mob {
      margin: 0 auto;
      margin-top: 15px;
      max-width: 206px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  @include sl {
    justify-content: space-between;
    margin-bottom: 95px;
    max-width: 650px;
  }

  @include mob {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 50px;
  }
}
