.skills {
  padding-top: 90px;
  padding-bottom: 104px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  &__title {
    margin-bottom: 90px;
  }

  @include mob {
    padding-top: 30px;
  }
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 95px;
  width: 100%;

  &__item {
    margin-bottom: 75px;
    text-align: center;

    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }

    &--layout {
      width: 258px;

      &::before {
        content: "";
        display: block;
        margin: 0 auto;
        width: 80px;
        height: 74px;
        background: url("../img/layout.png") no-repeat;

        @include mob {
          width: 61px;
          height: 61px;
          background-image: url("../img/layout_mob.png");
        }
      }
    }

    &--adaptive {
      width: 272px;

      &::before {
        content: "";
        display: block;
        margin: 0 auto;
        width: 79px;
        height: 74px;
        background: url("../img/adaptive.png") no-repeat center;

        @include mob {
          width: 61px;
          height: 61px;
          background-image: url("../img/adaptive_mob.png");
        }
      }
    }

    &--code {
      width: 202px;

      &::before {
        content: "";
        display: block;
        margin: 0 auto;
        width: 79px;
        height: 74px;
        background: url("../img/code.png") no-repeat center;

        @include mob {
          width: 61px;
          height: 61px;
          background-image: url("../img/code_mob.png");
        }
      }
    }

    &--correct {
      width: 248px;

      &::before {
        content: "";
        display: block;
        margin: 0 auto;
        width: 79px;
        height: 74px;
        background: url("../img/test.png") no-repeat center;

        @include mob {
          width: 61px;
          height: 61px;
          background-image: url("../img/test_mob.png");
        }
      }
    }

    @include sl {
      width: 42%;
    }

    @include mob {
      width: 100%;
    }
  }

  &__text {
    margin: 0;
    margin-top: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: var(--color-bali-hai);

    @include mob {
      font-size: 16px;
    }
  }

  @include sl {
    justify-content: space-between;
    margin-bottom: 93px;
    max-width: 650px;
  }

  @include mob {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
