// Keyframes for tags animation
// stylelint-disable no-unknown-animations

@include keyframe(brases, -830px, 40px, 25deg);
@include keyframe(div--one, -171px, 60px, -15deg);
@include keyframe(div--two, -8px, 440px, 22deg);
@include keyframe(lattice, -714px, 270px, 15deg);
@include keyframe(end-tag--one, -584px, 568px, -23deg);
@include keyframe(div--one, -170px, 58px, -15deg);

.tags {
  position: absolute;
  left: 50%;
  top: 0;
  max-width: 1920px;
  transform: translateX(-50%);
}

.tag {
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 700;
  line-height: 38.97px;
  color: rgba(255, 255, 255, 0);
  background-image:
    linear-gradient(
      to top,
      #f26522 0%,
      #fa0891 99%,
      #fa0891 100%
    );
  background-clip: text;
  transform: translateX(-50%);
}

.brases {
  width: 45px;
  height: 50px;
  font-size: 43px;
  animation: brases 2s ease-in-out forwards;

  @include sl {
    @include keyframe(brases, -435px, 60px, 25deg);
  }

  @include mob {
    @include keyframe(brases, -108px, -38px, 25deg);

    width: 26px;
    height: 30px;
    font-size: 22px;
  }
}

.div {
  &--one {
    width: 68px;
    height: 35px;
    font-size: 29px;
    animation: div--one 2s ease-in-out forwards;

    @include sl {
      @include keyframe(div--one, 375px, 42px, -15deg);
    }

    @include mob {
      display: none;
    }
  }

  &--two {
    width: 83px;
    height: 40px;
    font-size: 35px;
    animation: div--two 2s ease-in-out forwards;

    @include sl {
      @include keyframe(div--two, 355px, 444px, 25deg);
    }

    @include mob {
      @include keyframe(div--two, 88px, 2px, 20deg);

      width: 40px;
      height: 25px;
      font-size: 14px;
    }
  }
}

.lattice {
  width: 35px;
  height: 42px;
  font-size: 55px;
  animation: lattice 2s ease-in-out forwards;

  @include sl {
    @include keyframe(lattice, -454px, 538px, 15deg);
  }

  @include mob {
    @include keyframe(lattice, -122px, 66px, 15deg);

    width: 18px;
    height: 30px;
    font-size: 28px;
  }
}

.end-tag {
  &--one {
    width: 53px;
    height: 36px;
    font-size: 38px;
    animation: end-tag--one 2s ease-in-out forwards;

    @include sl {
      @include keyframe(end-tag--one, -152px, 483px, -22deg);
    }

    @include mob {
      @include keyframe(end-tag--one, 13px, -60px, -34deg);

      width: 23px;
      height: 30px;
      font-size: 16px;
    }
  }

  &--two {
    display: none;
    width: 64px;
    height: 34px;
    font-size: 45px;
    animation: end-tag--two 2s ease-in-out forwards;

    @include sl {
      @include keyframe(end-tag--two, -88px, 135px, 15deg);

      display: block;
    }

    @include mob {
      display: none;
    }
  }
}
