.works {
  padding-top: 90px;
  padding-bottom: 103px;
  background-color: var(--color-alabaster);

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    @include mob {
      width: 320px;
    }
  }

  &__title {
    margin-bottom: 104px;

    @include mob {
      margin-bottom: 40px;
    }
  }

  &__content {
    margin: 0;
  }

  &__image {
    margin-bottom: 14px;
  }

  &__descr {
    padding-left: 28px;
    font-weight: 500;
    font-size: 20px;
    line-height: 59.73px;
    text-align: center;
    color: var(--color-bali-hai);

    @include sl {
      font-size: 25px;
      line-height: 40.73px;
    }

    @include mob {
      padding-left: 0;
      font-size: 18px;
      line-height: normal;
    }
  }

  @include mob {
    padding-top: 42px;
    padding-bottom: 52px;
  }
}

.works-slider {
  position: relative;
  overflow: hidden;
  margin-bottom: 76px;
  width: 100%;
  height: 100%;

  @include sl {
    margin-bottom: 212px;
  }

  @include mob {
    margin-bottom: 82px;
  }
}

.swiper-pagination {
  bottom: 163px;
  display: none;

  &-bullet {
    margin: 0 15px;
    width: 18px;
    height: 18px;
    background-color: var(--color-gallery);
    opacity: 1;

    &-active {
      background-color: var(--color-red-orange);
    }

    @include mob {
      margin: 0 8px;
      width: 10px;
      height: 10px;
    }
  }

  @include sl {
    display: block;
  }

  @include mob {
    bottom: 100px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  top: 45.5%;
  border: none;
  border-radius: 50%;
  height: 60px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.swiper-button-prev {
  content: url("../img/arrow.png");
  left: -15px;
  right: auto;
  width: 60px;

  @include sl {
    display: none;
  }
}

.swiper-button-next {
  content: url("../img/arrow.png");
  left: auto;
  right: -15px;
  width: 60px;
  transform: rotate(180deg);

  @include sl {
    display: none;
  }
}
