html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--color-shark);
  background-color: var(--color-white);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

picture {
  font-size: 0;
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
  overflow: hidden;
}

// .stop-scroll {
//   @include stop-scroll;
// }

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.visually-hidden {
  @include visually-hidden;
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;

  @include sl {
    padding: 0 40px;
    max-width: 1024px;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 60px;
  font-weight: 400;
  line-height: 54px;
  color: var(--color-white);

  &--fill {
    font-size: 18px;
    background-color: var(--color-red-orange);
    transition: color, background-color ease 0.5s;

    &:hover,
    &:active {
      border: 3px solid var(--color-black);
      color: var(--color-black);
      background-color: var(--color-white);
      transition: color, background-color ease 0.5s;
    }
  }

  @include sl {
    width: 320px;
    height: 68px;
  }
}

.section-title {
  margin: 0;
  font-weight: 700;
  font-size: 54px;
  line-height: 59.73px;
  text-align: center;
  color: var(--color-mine-shaft);
}

.call-btn {
  border: 1px solid var(--color-radical-red);
  width: 207px;
  height: 45px;
  font-size: 16px;
  color: var(--color-sunset-orange);
  transition: all ease-in 0.3s;

  &:hover,
  &:active {
    border-width: 2px;
    font-size: 20px;
    transition: all ease-in 0.3s;
  }

  &:disabled {
    border: 2px solid rgb(0, 0, 0);
    color: var(--color-white);
    background-color: rgb(160, 157, 157);
    opacity: 0.2;
    pointer-events: none;
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
