html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--color-shark);
  background-color: var(--color-white);
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

picture {
  font-size: 0;
}

.site-container {
  overflow: hidden;
}

.for-mobile {
  display: none;

  @include mob {
    display: block;
  }
}

.stop-scroll {
  @include stop-scroll;
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.visually-hidden {
  @include visually-hidden;
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;

  @include sl {
    padding: 0 40px;
    max-width: 1024px;
  }

  @include mob {
    padding: 0 20px;
    min-width: 320px;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  min-height: 60px;
  font-weight: 400;
  line-height: 54px;
  text-align: center;
  color: var(--color-white);

  &--fill {
    font-size: 18px;
    background-color: var(--color-red-orange);
    transition: color, background-color ease 0.3s;

    &:hover {
      border: 3px solid var(--color-black);
      color: var(--color-black);
      background-color: var(--color-white);
      transition: color, background-color ease 0.3s;
    }

    &:active {
      border: 3px solid var(--color-black);
      color: var(--color-black);
      background-color: var(--color-bali-hai);
      transition: color, background-color ease 0.3s;
    }
  }

  @include sl {
    width: 320px;
    min-height: 68px;
  }

  @include mob {
    width: 280px;
    min-height: 55px;
    font-size: 16px;
  }
}

.section-title {
  margin: 0;
  font-weight: 700;
  font-size: 54px;
  line-height: 59.73px;
  text-align: center;
  color: var(--color-mine-shaft);

  @include mob {
    font-weight: 900;
    font-size: 30px;
    line-height: normal;
  }
}
