// COLORS
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-alabaster: #fbfbfb;
  --color-shark: #1f1f24;
  --color-wild-watermelon: #fc557c;
  --color-sunset-orange: #f53f4f;
  --color-radical-red: #f82370;
  --color-bali-hai: #8993ad;
  --color-red-orange: #ff4e2e;
  --color-gallery: #ebebeb;
  --color-blackcurrant: #31293c;
  --color-ghost: #c1c7d1;
}
